<nav class="bg-gray-200 py-2 border-gray-200 shadow-md">
  <div class="flex flex-row justify-between">
    <div class="flex flex-wrap items-center">
      <a routerLink="/">
        <img
          loading="lazy"
          class="w-20 mr-8 px-1"
          src="assets/svg/LOGO.svg"
          alt="logo"
        />
      </a>
      <div class="flex items-center">
        <ul class="flex items-center space-x-2 text-sm font-medium">
          <li>
            <a class="block py-3 px-4 text-gray-800">Picado</a>
          </li>
          <li>
            <a class="block py-3 px-4 text-gray-800">Puas</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- ************************************************************************* -->
    <div class="flex space-x-2 items-center justify-end">
      <!-- <div class="flex space-x-2">
        <button class="">
          <fa-icon [icon]="faBell"></fa-icon>
        </button>
        <button class="">
          <fa-icon [icon]="faInfoCircle"></fa-icon>
        </button>
      </div> -->

      <button
        type="button"
        class="flex rounded-full border-gray-600 border-2 border-s-gray-400"
        aria-expanded="false"
        type="button"
        (click)="isOpen = !isOpen"
        cdkOverlayOrigin
        #menuOverlay="cdkOverlayOrigin"
      >
        <img
          class="w-8 h-8 rounded-full"
          src="assets/svg/LOGO.svg"
          alt="user photo"
        />
      </button>
    </div>
    <!-- ************************************************************************* -->
  </div>
</nav>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="menuOverlay"
  [cdkConnectedOverlayOpen]="isOpen"
>
  <div
    class="z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow"
  >
    <div class="py-3 px-4">
      <span class="block text-sm text-gray-900">Bonnie Green</span>
      <span class="block text-sm font-medium text-gray-500 truncate"
        >/4200/login</span
      >
    </div>
    <ul class="py-1" aria-labelledby="user-menu-button">
      <li>
        <button (click)="layout()">dashboard</button>
      </li>
      <li>
        <a
          href="dashboard/board"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Settings</a
        >
      </li>
      <li>
        <a
          href="dashboard/board"
          class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600"
          >Usuario</a
        >
      </li>
    </ul>
    <div class="flex justify-center p-2 bg-orange-500">
      <button (click)="logOut()">Salir</button>
    </div>
  </div>
</ng-template>
